.odd {
	background-color: #eaa6a6;
	font-family: Verdana, "DejaVu Sans", sans-serif;
}

#blue_div {
	color: blue;
	font-size: 36px;
}

.third {
	font-size: 24px;
}

#forth {
	background-color: greenyellow;
	font-size: 24px;
	font-weight: bold;
}